.header{
    background-color: yellowgreen;
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    
}
.btn{
    background-color: yellow;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}